<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.efrei.babylon.part_y"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.efrei.babylon.part_y.Connexion"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.efrei.babylon.part_y.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="fr.efrei.babylon.part_y.CreerActivity"
            android:label="@string/title_activity_creer" >
        </activity>
        <activity
            android:name="fr.efrei.babylon.part_y.CalendrierActivity"
            android:label="@string/title_activity_calendrier" >
        </activity>
        <activity
            android:name="fr.efrei.babylon.part_y.GererActivity"
            android:label="@string/title_activity_gerer" >
        </activity>
        <activity
            android:name="fr.efrei.babylon.part_y.ParametreActivity"
            android:label="@string/title_activity_parametre" >
        </activity>
        <activity
            android:name="fr.efrei.babylon.part_y.ThemeActivity"
            android:label="@string/title_activity_theme" >
        </activity>
    </application>

</manifest>
